<%- layout('layouts/boilerplate.ejs') %> 

<h1>Ooooops … hier stimmt etwas nicht</h1>
<p>Diese Seite existiert irgendwie nicht. Das kann mal passieren!</p>
<p>Versuch’s nochmal oder meld dich bei uns, wenn du nicht weiterkommst.</p>

