<%- layout('layouts/boilerplate.ejs') %> 
<h1>Login</h1>
<form action="/loginCheck">
    <div>
        <label for="benutzername">Username: </label>
        <input type="text" name="benutzername" id="benutzername">
    </div>
    <div>
        <label for="passwort">Password: </label>
        <input type="text" name="passwort" id="passwort">
    </div>
    <button>Submit</button>
</form>